<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="ValidLogin">
    <classes>
      <class name="test.FileUploadTest">
      <methods>
      <include name = "testRahul"/>
      </methods>
      </class>
    </classes>
    </test>
</suite> <!-- Suite -->
	